.bil-adress {
    background-color: aquamarine;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgreen;
    border-radius: 3px;
  }

  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  .bil-adress__input-name {
      display: block;
  }