.main {
box-sizing: border-box;
width: 100%;
/*
    Bruges sådan her: <main class="main"></main>
    */
}

.main--xlarge{
    font-size: 120%;
    /*
    Bruges sådan her: <main class="main main--xlarge"></main>
    */
}

.main--borders{
    border:1px solid #333;
       /*
    Bruges sådan her: <main class="main main--borders"></main>
    */
}

.grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.grid__item{
grid-row: 1;
}

.grid__item--first{
 grid-column: 1;
 }
 .grid__item--second{
 grid-column: 2;
 }
 .grid__item--third{
 grid-column: 3;
 }