.news {
    width: 50%;
  }
  .title{
    display: flex;
    justify-content: center;
  }
  .last{
    text-align: center; 
  }
  .space{
      margin: 0 1em;
  }
  .news2{
      width: 50%;
      position: right;
  }